:root {
  --background: #f1f5f9;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
