.main {
  padding: 1.5em 0;
}

.header {
  text-align: center;
  font-size: 1.05rem;
  font-weight: 700;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5em;
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin: 1em auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.select {
  display: block;
  margin: 1em auto;
  width: 300px;
  max-width: 70%;
  padding: 10px;
  outline: none;
}

.select option[selected] {
  background-color: #007bff;
}
